* {
    margin: 0;
    padding: 0;
}

li,
ul {
    display: inline-block;
    list-style: none;
}

body {
    position: relative;
}

.this-wrapper {
    border-bottom: 4px solid #f07637;
    color: #d4d3d3;
}

.header {
    background-image: url(imgS/preview.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin-top: auto;
    height: 100px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
}

.nav-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 17px;
    transition: .2s;
}

ul :nth-child(1),
ul :nth-child(2) { 
    margin-right: 40px;
}

.header-blur {
    position: fixed;
    width: 100vw;
    height: 65px;
    backdrop-filter: blur(20px);
    background: #00000036;
    z-index: 2;
}

.nav-item:hover {
    border-bottom: 4px solid #f07637;
    color: #d4d3d3;
}

.content {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(5, 150px);
}

.grid-item:nth-child(1) {
    grid-row-start:1;
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-item:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow-y: hidden;
}

.grid-item:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
}

.grid-item:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding-left: 10px;
    font-size: 18px;
    line-height: 1.9;
}

span {
    color: #fff;
}

.images {
    display: flex;
    position: relative;
}

.image {
    position: absolute;
    box-shadow: 5px 0px 15px #000;
}


.image:nth-child(1) {
    top: 250px;
    left: 30px;
}

.image:nth-child(2) {
    top: 160px;
    left: 90px;
}

.image:nth-child(3) {
    top: 300px;
    left: 160px;
}